

.plan{
    font-size: 50;
}

.pagedegarde .header{
    text-align: right;
}
.centre-title{

 font-size: 30px;
 color: springgreen;

 text-align: center;
}

.pagedegardefooter h4{
font-style: italic;
}

.pagedegardefooter .realise{
    text-align: left;
}